# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Django
*.log
db.sqlite3
db.sqlite3-journal

# Project Specific
datadump.json

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# User-specific
.vscode/
.idea/
